#AI
DEEPL_API_KEY=1829ab09-06f6-413b-a266-842e6281fbfe
GMS_API_KEY=S15P12E106-64b58984-62d7-4b99-bb07-d40dae5ba57f
GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT="Melly"


LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret

DB_HOST=localhost
DB_PORT=3307
DB_USER=fanssa
DB_PASSWORD=password
DB_NAME=fanssa_db

SPRING_INTERNAL_URL=http://backend:8080