LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret

DB_HOST=localhost
DB_PORT=3306
DB_USER=fanssa
DB_PASSWORD=password
DB_NAME=fanssa_db

SPRING_INTERNAL_URL=http://backend:8080
