#AI
DEEPL_API_KEY=
GMS_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

LIVEKIT_URL=				
LIVEKIT_API_KEY=	
LIVEKIT_API_SECRET=

#로컬 pc -> 서버 연결용
DB_HOST=			
DB_PORT=

DB_NAME=				
DB_USERNAME=				
DB_PASSWORD=		
MYSQL_ROOT_PASSWORD=				